body{
  display: flex;
  background-color: rgb(110, 156, 110);
  justify-content: center;
  align-items: center;
}


.App {
  text-align: center;
}

.design{
  border: 3px solid red;
  
}
h1{
  background-color: rgb(250, 234, 5);
  text-align: center;
  padding: 10px 0;
  color: red;
}
form{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
input{
  font-size: 18px;
  border: 2px solid black;
  padding: 10px;
}

.btn{
  background-color:rgb(247, 8, 48);
  font-size: 20px;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.container{
  background-color: #6b5e5e;
  padding: 8px;

  color: white;
}
.tastbox{
  display: flex;
  flex-direction: row;
  gap: 124px;
  justify-content: space-between;
  width: 100%;
}
h3{
  width: 30%;
}
h5{
  width: 50%;
}

.boxhuu{
  display: flex;
justify-content: space-between;

}

.dltbtn{
  background-color: rgb(243, 5, 45);
  color: white;
  border-radius: 6px;
}